@inject IViewLocalizer Localizer
@model User[]
@{
  ViewData["Title"] = Localizer["Title_Users"];
}
<div class="admin-page-header">
  <h1>@Localizer["Title_Users"]</h1>
  <a class="push-button" asp-action="New">@Localizer["Label_AddUser"]</a>
</div>
<table class="data-table">
  <colgroup>
    <col span="2">
    <col class="data-table--collapsed-below-medium">
  </colgroup>
  <thead>
    <tr>
      <th>@Localizer["Label_Name"]</th>
      <th>@Localizer["Label_EmailAddress"]</th>
      <th class="data-table--collapsed-below-medium">@Localizer["Label_AccessLevel"]</th>
      <th>@Localizer["Label_Status"]</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var user in Model!)
    {
      <tr>
        <td><a asp-action="Show" asp-route-id="@user.Id">@user.Name</a></td>
        <td>@user.Email</td>
        <td class="data-table--collapsed-below-medium">
          @(user.IsAdmin ? Localizer["Label_Administrator"] : Localizer["Label_Standard"])
        </td>
        <td>
          @if(user.Deactivated.HasValue)
          {
            <span class="tag">
              @Localizer["Label_Deactivated"]
            </span>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
