@inject IViewLocalizer Localizer
@model Buttercup.Web.Models.Account.ChangePasswordViewModel
@{
  ViewData["Title"] = Localizer["Title_ChangePassword"];
}
<h1>@Localizer["Title_ChangePassword"]</h1>
<form class="form" method="post">
  <div class="form-field">
    <label class="form-field__label" asp-for="CurrentPassword">@Localizer["Label_CurrentPassword"]</label>
    <input class="input-box" asp-for="CurrentPassword" required>
    <span asp-validation-for="CurrentPassword"></span>
  </div>
  <div class="form-field">
    <label class="form-field__label" asp-for="NewPassword">@Localizer["Label_NewPassword"]</label>
    <input class="input-box" asp-for="NewPassword" required>
    <span asp-validation-for="NewPassword"></span>
  </div>
  <div class="form-field">
    <label class="form-field__label" asp-for="ConfirmNewPassword">@Localizer["Label_ConfirmNewPassword"]</label>
    <input class="input-box" asp-for="ConfirmNewPassword" required>
    <span asp-validation-for="ConfirmNewPassword"></span>
  </div>
  <div class="button-bar">
    <button class="push-button push-button--primary">@Localizer["Label_ChangePassword"]</button>
    <a class="push-button" asp-action="Show">@Localizer["Label_Cancel"]</a>
  </div>
</form>
