@inject IViewLocalizer Localizer
@model ChangePasswordViewModel
@{
  ViewData["Title"] = Localizer["Title_ChangePassword"];
}
<h1>@Localizer["Title_ChangePassword"]</h1>
<form method="post">
  <div class="form-field">
    <label class="form-field__label" asp-for="CurrentPassword" show-required-label="false">@Localizer["Label_CurrentPassword"]</label>
    <input class="form-field__input" asp-for="CurrentPassword" required>
    <span asp-validation-for="CurrentPassword"></span>
  </div>
  <div class="form-field">
    <label class="form-field__label" asp-for="NewPassword" show-required-label="false">@Localizer["Label_NewPassword"]</label>
    <input class="form-field__input" asp-for="NewPassword" required>
    <span asp-validation-for="NewPassword"></span>
  </div>
  <div class="form-field">
    <label class="form-field__label" asp-for="ConfirmNewPassword" show-required-label="false">@Localizer["Label_ConfirmNewPassword"]</label>
    <input class="form-field__input" asp-for="ConfirmNewPassword" required>
    <span asp-validation-for="ConfirmNewPassword"></span>
  </div>
  <div class="button-bar">
    <button class="primary-push-button">@Localizer["Label_ChangePassword"]</button>
    <a class="push-button" asp-action="Show">@Localizer["Label_Cancel"]</a>
  </div>
</form>
