@inject IViewLocalizer Localizer
@model HomePageViewModel
@{
  ViewData["Title"] = Localizer["Title_Home"];
}
<div class="home-page__container">
  <section class="home-page__recipe-list">
    <h1>@Localizer["Heading_RecentlyAdded"]</h1>
    <ul>
      @foreach (var recipe in Model.RecentlyAddedRecipes!)
      {
        <li><a asp-controller="Recipes" asp-action="Show" asp-route-id="@recipe.Id">@recipe.Title</a></li>
      }
    </ul>
  </section>
  <section class="home-page__recipe-list">
    <h1>@Localizer["Heading_RecentlyUpdated"]</h1>
    <ul>
      @foreach (var recipe in Model.RecentlyUpdatedRecipes!)
      {
        <li><a asp-controller="Recipes" asp-action="Show" asp-route-id="@recipe.Id">@recipe.Title</a></li>
      }
    </ul>
  </section>
</div>
