@inject IViewLocalizer Localizer
@model Comment
<article id="@($"comment{Model.Id}")" class="comment">
  <header class="comment__header">
    <span class="comment__author">@(Model.Author is null ? Localizer["Label_UnknownUser"] : Model.Author.Name)</span>
    <a class="comment__timestamp" href="@($"#comment{Model.Id}")">@Html.UserDateTime(Model.Created, "d")</a>
  </header>
  @Html.FromMarkdown(Model.Body, MarkdownPipelines.Comments)
</article>
