@inject IViewLocalizer Localizer
@model IList<Recipe>
@{
  ViewData["Title"] = Localizer["Title_AllRecipes"];
}
<div class="recipes-index__header">
  <h1>@Localizer["Title_AllRecipes"]</h1>
  <input id="recipe-index__filter" class="form-field__input" placeholder="@Localizer["Label_FindRecipe"]" aria-label="@Localizer["Label_FindRecipe"]" />
</div>
<table id="recipes-index__table" class="data-table">
  <colgroup>
    <col>
    <col class="recipes-index--date" span="2">
  </colgroup>
  <thead class="recipes-index--collapsible">
    <tr>
      <th>@Localizer["Label_Title"]</th>
      <th class="data-table--right-aligned recipes-index--collapsible">@Localizer["Label_Added"]</th>
      <th class="data-table--right-aligned recipes-index--collapsible">@Localizer["Label_Updated"]</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var recipe in Model!)
    {
      <tr>
        <td><a asp-action="Show" asp-route-id="@recipe.Id">@recipe.Title</a></td>
        <td class="data-table--right-aligned recipes-index--collapsible"><user-date-time date-time="@recipe.Created" format="d"></user-date-time></td>
        <td class="data-table--right-aligned recipes-index--collapsible"><user-date-time date-time="@recipe.Modified" format="d"></user-date-time></td>
      </tr>
    }
  </tbody>
</table>
