@inject ITimeFormatter TimeFormatter
@inject IViewLocalizer Localizer
@model Buttercup.Web.Models.Recipes.ShowRecipeViewModel
@{
  ViewData["Title"] = Model!.Recipe.Title;
}
<h1>@Model.Recipe.Title</h1>

<div class="record">
@if (Model.Recipe.PreparationMinutes != null)
{
  <div class="record__item">
    <div class="record__item-label">@Localizer["Label_PreparationTime"]</div>
    <div>@TimeFormatter.AsHoursAndMinutes(Model.Recipe.PreparationMinutes.Value)</div>
  </div>
}
@if (Model.Recipe.CookingMinutes != null)
{
  <div class="record__item">
    <div class="record__item-label">@Localizer["Label_CookingTime"]</div>
    <div>@TimeFormatter.AsHoursAndMinutes(Model.Recipe.CookingMinutes.Value)</div>
  </div>
}
@if (Model.Recipe.Servings != null)
{
  <div class="record__item">
    <div class="record__item-label">@Localizer["Label_Servings"]</div>
    <div>@Html.FormatValue(Model.Recipe.Servings, "{0:d}")</div>
  </div>
}
@if (Model.Recipe.Source != null)
{
  <div class="record__item">
    <div class="record__item-label">@Localizer["Label_Source"]</div>
    <div>@Model.Recipe.Source</div>
  </div>
}
<div class="record__item">
  <div class="record__item-label">@Localizer["Label_Added"]</div>
  <div>
    @if (Model.Recipe.CreatedByUser == null)
    {
      @Html.UserDateTime(Model.Recipe.Created)
    }
    else
    {
      @Localizer["Label_TimeAndUser", Html.UserDateTime(Model.Recipe.Created, "d"), Model.Recipe.CreatedByUser.Name]
    }
  </div>
</div>
@if (Model.Recipe.Modified > Model.Recipe.Created)
{
  <div class="record__item">
    <div class="record__item-label">@Localizer["Label_Updated"]</div>
    <div>
      @if (Model.Recipe.ModifiedByUser == null)
      {
        @Html.UserDateTime(Model.Recipe.Modified)
      }
      else
      {
        @Localizer["Label_TimeAndUser", Html.UserDateTime(Model.Recipe.Modified, "d"), Model.Recipe.ModifiedByUser.Name]
      }
    </div>
  </div>
}
</div>

<h2>@Localizer["Heading_Ingredients"]</h2>
<ul lines-in="@Model.Recipe.Ingredients"></ul>

<h2>@Localizer["Heading_Method"]</h2>
<ol lines-in="@Model.Recipe.Method"></ol>

@if (Model.Recipe.Suggestions != null)
{
  <h2>@Localizer["Heading_Suggestions"]</h2>
  <ul lines-in="@Model.Recipe.Suggestions"></ul>
}

@if (Model.Recipe.Remarks != null)
{
  <h2>@Localizer["Heading_Remarks"]</h2>
  <ul lines-in="@Model.Recipe.Remarks"></ul>
}

<footer class="button-bar">
  <a class="push-button" asp-action="Edit" asp-route-id="@Model.Recipe.Id">@Localizer["Label_Edit"]</a>
  <a class="push-button" asp-action="Delete" asp-route-id="@Model.Recipe.Id">@Localizer["Label_Delete"]</a>
</footer>

<section>
  <h2>@Localizer["Heading_Comments"]</h2>
  @foreach (var commentViewModel in Model.CommentViewModels)
  {
    <partial name="_Comment" model="@commentViewModel" />
  }
  <form method="post" asp-action="AddComment" asp-route-id="@Model.Recipe.Id">
    <p class="new-comment-form__author">@User.Identity?.Name</p>
    <div class="new-comment-form__field form-field">
      <textarea class="form-field__input" asp-for="NewCommentAttributes.Body" aria-label="@Localizer["Label_Comment"]" placeholder="@Localizer["Placeholder_Comment"]" required></textarea>
      <span asp-validation-for="NewCommentAttributes.Body"></span>
    </div>
    <button class="primary-push-button">@Localizer["Label_Add"]</button>
  </form>
</section>
