@inject ITimeFormatter TimeFormatter
@inject IViewLocalizer Localizer
@model Recipe
@{
  ViewData["Title"] = Model.Title;
}
<h1>@Model.Title</h1>

<table class="recipe-header">
  @if (Model.PreparationMinutes != null)
  {
    <tr>
      <th>@Localizer["Label_PreparationTime"]</th>
      <td>@TimeFormatter.AsHoursAndMinutes(Model.PreparationMinutes.Value)</td>
    </tr>
  }
  @if (Model.CookingMinutes != null)
  {
    <tr>
      <th>@Localizer["Label_CookingTime"]</th>
      <td>@TimeFormatter.AsHoursAndMinutes(Model.CookingMinutes.Value)</td>
    </tr>
  }
  @if (Model.Servings != null)
  {
    <tr>
      <th>@Localizer["Label_Servings"]</th>
      <td>@Html.FormatValue(Model.Servings, "{0:d}")</td>
    </tr>
  }
  @if (Model.Source != null)
  {
    <tr>
      <th>@Localizer["Label_Source"]</th>
      <td>@Model.Source</td>
    </tr>
  }
  <tr>
    <th>@Localizer["Label_Added"]</th>
    <td><user-date-time date-time="@Model.Created"></user-date-time></td>
  </tr>
  @if (Model.Modified > Model.Created)
  {
    <tr>
      <th>@Localizer["Label_Updated"]</th>
      <td><user-date-time date-time="@Model.Modified"></user-date-time></td>
    </tr>
  }
</table>

<h2>@Localizer["Label_Ingredients"]</h2>
<ul lines-in="@Model.Ingredients"></ul>

<h2>@Localizer["Label_Method"]</h2>
<ol lines-in="@Model.Method"></ol>

@if (Model.Suggestions != null)
{
  <h2>@Localizer["Label_Suggestions"]</h2>
  <ul lines-in="@Model.Suggestions"></ul>
}

@if (Model.Remarks != null)
{
  <h2>@Localizer["Label_Remarks"]</h2>
  <ul lines-in="@Model.Remarks"></ul>
}

<footer class="button-bar">
  <a class="push-button" asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Label_Edit"]</a>
  <a class="push-button" asp-action="Delete" asp-route-id="@Model.Id">@Localizer["Label_Delete"]</a>
</footer>
