@inject IViewLocalizer Localizer
@model RecipeAttributes
<div asp-validation-summary="ModelOnly"></div>
<div class="form-field">
  <label class="form-field__label" asp-for="Title">@Localizer["Label_Title"]</label>
  <input class="form-field__input" asp-for="Title" required>
  <span asp-validation-for="Title"></span>
</div>
<div class="form-field">
  <label class="form-field__label" asp-for="PreparationMinutes">@Localizer["Label_PreparationTime"]</label>
  <input class="form-field__input" asp-for="PreparationMinutes">
  <span asp-validation-for="PreparationMinutes"></span>
</div>
<div class="form-field">
  <label class="form-field__label" asp-for="CookingMinutes">@Localizer["Label_CookingTime"]</label>
  <input class="form-field__input" asp-for="CookingMinutes">
  <span asp-validation-for="CookingMinutes"></span>
</div>
<div class="form-field">
  <label class="form-field__label" asp-for="Servings">@Localizer["Label_Servings"]</label>
  <input class="form-field__input" asp-for="Servings">
  <span asp-validation-for="Servings"></span>
</div>
<div class="form-field">
  <label class="form-field__label" asp-for="Ingredients">@Localizer["Label_Ingredients"]</label>
  <textarea class="form-field__input form-field__input--tall" asp-for="Ingredients" required></textarea>
  <span asp-validation-for="Ingredients"></span>
</div>
<div class="form-field">
  <label class="form-field__label" asp-for="Method">@Localizer["Label_Method"]</label>
  <textarea class="form-field__input form-field__input--tall" asp-for="Method" required></textarea>
  <span asp-validation-for="Method"></span>
</div>
<div class="form-field">
  <label class="form-field__label" asp-for="Suggestions">@Localizer["Label_Suggestions"]</label>
  <textarea class="form-field__input" asp-for="Suggestions"></textarea>
  <span asp-validation-for="Suggestions"></span>
</div>
<div class="form-field">
  <label class="form-field__label" asp-for="Remarks">@Localizer["Label_Remarks"]</label>
  <textarea class="form-field__input" asp-for="Remarks"></textarea>
  <span asp-validation-for="Remarks"></span>
</div>
<div class="form-field">
  <label class="form-field__label" asp-for="Source">@Localizer["Label_Source"]</label>
  <input class="form-field__input" asp-for="Source">
  <span asp-validation-for="Source"></span>
</div>
